<!-- {% load static %}
<!DOCTYPE html>
<html>

<head>
    <title> Page Title </title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <form action="register" method="POST">
        <div id="login-box">
            {%csrf_token%}
            <div class="left">
                <h1> ADD USER </h1>
                <input type="text" name="Roll_Number" placeholder="Roll_Number" />
                <input type="text" name="f_name" placeholder="First Name" />
                <input type="text" name="l_name" placeholder="Last Name" />
                <input type="text" name="email" placeholder="Email" />
                <input type="submit" name="signup_submit" value="Sign me up" />
            </div>
        </div>
    </form>
     {% if messages %} -->
<!-- {% for message in messages %} -->
<!-- <h1> {{message}} </h1> -->
<!-- {% endfor %} -->
<!-- {% endif %} -->
<!-- </body> -->

<!-- </html>  -->

{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Form-v5 by Colorlib</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/roboto-font.css' %}">
    <link rel=" stylesheet" type="text/css" href="{% static 'css/fontawesome-all.min.css' %}">
    <link rel=" stylesheet" href="{% static 'css/edit.css' %}" />
</head>

<body class=" form-v5">
    <div class="page-content">
        <div class="form-v5-content">
            <form class="form-detail" action="register" method="POST">
                {%csrf_token%}
                <h2>Add Detail</h2>
                <div class="form-row">
                    <label for="full-name">Student Id</label>
                    <input type="text" name="Roll_Number" id="full-name" class="input-text"
                        pattern="[0-9]+[0-9]+[a-zA-Z]+[a-zA-Z]+[0-9]+[0-9]+[0-9]" maxlength="7"
                        placeholder="Your Student Id ( Ex. 17CE033 )" required>
                    <i class="fas fa-user"></i>
                </div>
                <div class="form-row">
                    <label for="your-email">First Name</label>
                    <input type="text" name="f_name" id="your-email" class="input-text" placeholder="Your First Name"
                        required>
                    <i class="fas fa-envelope"></i>
                </div>
                <div class="form-row">
                    <label for="your-email">Last Name</label>
                    <input type="text" name="l_name" id="your-email" class="input-text" placeholder="Your Last Name"
                        required>
                    <i class="fas fa-envelope"></i>
                </div>
                <div class="form-row">
                    <label for="password">Email Id</label>
                    <input type="text" name="email" id="password" class="input-text" placeholder="Your Email Id"
                        required pattern="[^@]+@[^@]+.[a-zA-Z]{2,6}">
                    <i class="fas fa-lock"></i>
                </div>
                <div class="form-row-last">
                    <input type="submit" name="register" class="submit" value="Submit">
                    <input type="submit" name="register" onclick="location.href = 'http://127.0.0.1:8000/';"
                        class="cancle" value="Cancle">
                </div>
            </form>
        </div>
    </div>
    <!-- <script>
        function home() {
            location.href = "/view"
        }
    </script> -->
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>